/*Genel özellikler*/
body{
    background: #ffffff;
    color: black;
    font: 14px / 28px Times;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 50px;
    letter-spacing: 4px;/*harfler arası boşluk*/
    margin-bottom: 20px;
}

.sectionHeader{
    background:#fc4a1a ;
    border-bottom: 2px solid black;
    height: 60px;
    color: #fff;
    display: inline-block;/*satırın tamamını kapsamasın diye.*/
    line-height: 60px;
    font-size: 24px;
    padding: 5px 40px;/*aşağıdan yukarıdan 5 sağ soldan 40*/
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.sectionArea{
    padding: 80px 0px;
}

h3{
    font-size: 16px;
    color: #fc4a1a;
    font-weight: bold;
    transition: all .5s ease;
}


/*Yerleştirme özellikleri*/
.container{
    width: 90%;
    margin: 0 auto;/*ekranı ortalaması için*/
    display: flex;/*container içerisindeki yapılar yan yana gelir.*/
}

.featuresBody .container{
    justify-content: space-between;/*flex box öz.*/
}
.col3{
    flex-grow: 1;
    width: 33.33%;/* her birini eşit uzunluğa bölmek için böyle bir değer*/
}
.engineBody .container{
    justify-content: space-between;/*flex box öz.*/
    margin-bottom: 50px;
}
.oneri{
    flex-grow: 1;
    width: 33.33%;
}


/*Header alanı başlangıç*/
header .logo{
    margin-right: auto;
}
header .logo img{
    display: block;
    height: 135px;
}
.menu{
    margin-top: 15px;
   position: relative;
}
ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    text-align: center;
}
.menu li{
    float: left;
    width: 125px;
}
.menu li a{
    padding: 27px 17px;
    display: block;
    text-decoration: none;
    letter-spacing: 2px;
    color: #333333;
    transition: all .5s ease;
    box-shadow: 1px 1px 1px 1px gainsboro ;
    text-align: center;
}
.menu li a:hover{
    background:#fc4a1a ;
    color: #fff;
}
.menu ul li ul {
	display:none;
    position: relative;
    width:125px;
    background:#fff ;
    text-align: center;
    

}
.menu ul li ul li a {
    padding: 27px 17px;
    display: block;
    text-decoration: none;
    letter-spacing: 2px;
    text-align:left;
    color: #333333;
    text-align: center;
    
}

.menu ul li:hover ul {
    display:block;
    text-align: center;
}
/*Header alanı bitiş*/

/*Header alanı bitiş*/

/*anasayfa özellikleri*/

#mainCaption{
    height: 550px;
    margin-top: 50px;
}
.caption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
}
.featuresTop{
    text-align: center;
}
.item{
padding: 10px 20px;
}
.zoom{
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
.zoom img{
    display: block;
    width: 100%;
    height: auto;
    transition: all .5s ease;
}
.itemText{
    text-align: center;
    padding: 5px;
    border: 1px solid #fc4a1a;
}

.item:hover .zoom img{
    transform: scale(1.25);
}
.item :hover h3{
    color: #fff;
}
.item:hover .itemText{
    background: #fc4a1a;
    color: #fff;
    transition: all .5s ease;
}
.devam{
    color: #fc4a1a;
    padding: 5px 10px;
    text-decoration: none;
    border:1px solid #ff714a;
    transition: all .5s ease;
}
.item:hover .devam{
    color: #fff;
    border: 1px solid #fff;
}
.itemText p{
    margin: 20px 0;
}
#parallax {
    background: linear-gradient(
        rgba(0,0,0,.7),
        rgba(0,0,0,.7)
        ),
    url('imgs/kutuphane.jpg');
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    text-align: center;
}
#parallax p{
    color: #fff;
}
.engineTop{
    text-align: center;

}
.engineContainer{
    position: relative;
    width: 100%;

}
.imageOver{
    display: block;
    width: 100%;
    height: auto;
}
.engineOverLay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(252, 74, 26, 0.7);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.engineOverText{
    white-space: nowrap;/*yan yana gelmeyi önler*/
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: auto;
    padding: auto;
}

.engineContainer:hover .engineOverLay{
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    padding: auto;
}
#engine{
    height: 200px;
}
a{
    text-decoration: none;
    color: black;
}

/*Footer alanı başlangıç*/
footer{
    background:#fc4a1a;
    text-align: center;
    padding: 10px 20px;
    height: 100px;
}
.footerItem{
    padding: 5px;
}
.footerItem img{
    height: 80px;
    opacity: .4;

}
.footerItem img:hover{
    opacity: .9;
}
footer h3{
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    text-align: center;
}
footer .fa{
    font-size: 30px;
    color: rgb(167, 161, 161);
    line-height: 50px;
    transition: .3s ease;
}
footer .fa:hover{
 color: #fff;
}
footer p{
    color: rgb(255, 255, 255);
    line-height: 20px;
}
.footerLinks a{
    text-decoration: none;
    color: rgb(255, 254, 254);
    letter-spacing: 2px;
    transition: .3s ease;
}
.footerLinks a:hover{
    color: #fff;
    text-decoration: underline;
}
.socialLinks li{
   display: inline-block;
   width: 15%;
   height: 15%;
   margin: 1%;
   padding: auto;
   left: 0;
   right: 0;
   top: 0;
}
.socialLinks img{
    width: 100%;
    height: 100%;

}


/*Footer alanı bitiş*/
